@import 'colors';

.banner {
    padding: 30px;
    width: 95%;
    height: 223px;
    overflow: hidden;
    .banner-img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

