@import 'colors';

.banner {
    padding: 30px;
    width: 95%;
    height: 223px;
    overflow: hidden;
    .banner-img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.section-content {
    display: flex;
    color: $color-primary;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    max-height: 0;
    background-color: #ebebeb;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}
.section-content.open {
    width: 100%;
    background-color: #ebebeb;
    margin-left: 0;
    max-height: 300px;
    transition-delay: 0.1s;
}

.collapsible-content{
    padding-bottom: 15px;
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: $color-primary;

    .section-titie {
        margin-left: 15px;
        font-weight: 350;
    }
    .toggle-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: transform 330ms ease-in-out;
        &.up {
            &:active {
                transform: rotate(-180deg);
            }
        }
        &.down {
            transform: rotate(-180deg);
            &:active {
                transform: rotate(0deg);
            }
        }
    }
}
}

@media(max-width:768px) {
    .collapsible-content{
        margin-left: 10%;
    }
}