@import 'colors';


.FooterContainer {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
    margin-top: 30px;
    .footerLogo {
        width: 123px;
        height: 41;
    }
}
@media(max-width: 768px) {
    .FooterContainer {
        width: 85%;
    }
}
