@import 'Colors';

.navContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navLink {
    margin-right: 60px;
    font-size: 26px;
    text-decoration: none;
    color: $color-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .navContainer {
    padding: 10px;
    .navLink{
      margin-right: 5px;
      font-size: 18px;
    }
    .logo {
      height: 48px;
    }
  }
}